.newsreel-article-content {
  line-height: 1.5;
  word-break: break-all;

  a {
    color: #000 !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0 0 1rem 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
  }
}
