// Snackbar colors
$error-snackbar-background: #e6003c;

// General colors
$logo-red: #f61b1c;
$orange-deep: #e74c3c;
$orange-deep-disabled: #e74c3c70;
$orange-mid: #e85647;
$orange-light: #ff003c;

$orange-background-deep: #ffd4d4;
$orange-background-mid: #fff0f2;

$pink-light: #ffbdd5;
$pink-mid: #ff2f69;

$green-light: #00d760;
$green-background-mid: #f1fffa;

$blue-extra-deep: #37719c;
$blue-deep: #42749f;
$blue-deep-70: #42749f70;
$blue-mid: #00b3ea;
$blue-light: #cbd9e4;

$gray-extra-deep: #666;
$gray-deep: #929292;
$gray-deep-70: #92929270;
$gray-deep-50: #92929250;
$gray-mid: #f2f2f2;
$gray-mid-70: #f2f2f270;
$gray-light: #f9f9f9;

$gray-mid-background: #f8f8f8;
$gray-light-background: #f4f4f4;
