@import 'src/app/styles/colors';

newsreel-sign-up {
  min-height: 100%;
  display: grid;

  .sign-wrapper {
    min-height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 40px 1fr 69px;

    .back-btn {
      margin-top: 5px;
      justify-self: start;

      .material-icons {
        font-size: 35px;
        color: $gray-deep-70;
      }
    }

    .main-section {
      margin: 0 5vw;
      align-self: center;

      .file-section {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .error-msg {
          display: block;
          min-height: 15px;
          font-size: 12px;
          font-weight: 500;
          color: $pink-mid;
        }
      }

      .form-section {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;

        .inputs-section {
          display: grid;

          .input-item {
            display: grid;
            justify-items: start;
            grid-gap: 5px;
          }
        }

        .btn-section {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .neewsreel-submit-btn {
            width: 100%;
          }
        }
      }
    }

    .links-section {
      padding: 25px 0;
      text-align: center;
      font-size: 14px;
      background-color: $gray-light;
      cursor: default;

      .text {
        margin-right: 5px;
      }

      .footer-link {
        color: $orange-mid;
        text-decoration: none;
      }
    }
  }

  .desktop-version {
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: $gray-light-background;

    .main-section {
      width: 500px;

      .logo {
        padding-bottom: 20px;
        font-size: 19px;
      }

      .form-section {
        .inputs-section {
          .file-wrapper {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 25px;

            .file-uploader {
              padding-top: 2px;
              display: grid;
              position: relative;
              grid-gap: 5px;
              font-size: 13px;
              font-weight: 500;
              color: $gray-deep;
              text-align: center;
              user-select: none;

              .drop-area {
                .material-icons {
                  background-color: #fff;
                  border: 2px dashed $gray-deep-70;
                }
              }

              .upload-icon {
                position: absolute;
                right: calc(50% - 65px);
                bottom: 35px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
                border-radius: 50%;
                pointer-events: none;
              }

              .error-msg {
                position: relative;
                top: -10px;
                display: block;
                min-height: 15px;
                font-size: 12px;
                font-weight: 500;
                color: $pink-mid;
              }
            }
          }

          .input-item {
            .neewsreel-input-label {
              font-size: 12px;
            }

            .neewsreel-input-wrapper {
              background-color: #fff;
            }
          }
        }

        .btn-section {
          justify-content: center;

          .neewsreel-submit-btn {
            width: auto;
          }
        }

        .links-section {
          margin-top: 30px;
          font-size: 16px;
          background-color: inherit;

          .footer-link {
            font-weight: 500;
          }
        }
      }
    }
  }
}
