@import 'src/app/styles/colors';

:host {
  padding: 10px;
  min-height: 100%;
  display: grid;
  position: relative;
  grid-template-rows: 40px 1fr 69px;

  .back-btn {
    margin-top: 5px;
    justify-self: start;

    .material-icons {
      font-size: 35px;
      color: $gray-deep-70;
      cursor: pointer;
      user-select: none;
    }
  }

  .main-section {
    margin: 0 40px;
    align-self: center;

    .title {
      margin-bottom: 60px;
      text-align: center;
      font-weight: 500;
    }

    .form-section {
      width: 100%;
      margin-top: 20px;

      .inputs-section {
        display: grid;

        .input-item {
          display: grid;
          justify-items: start;
          grid-gap: 5px;
        }
      }

      .subtitle {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: $gray-deep;
      }

      .btn-section {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .neewsreel-submit-btn {
          width: 100%;
        }
      }
    }
  }
}
