<section class="reset-wrapper" [ngClass]="{ 'desktop-version': isDesktop }">
  <a routerLink="/sign-in" class="back-btn" *ngIf="isMobile">
    <span class="material-icons">keyboard_arrow_left</span>
  </a>

  <section class="main-section">
    <newsreel-logo-link class="logo" *ngIf="isDesktop"></newsreel-logo-link>

    <h1 class="title">Forgot Password</h1>

    <p class="subtitle" *ngIf="isDesktop">Reset link will be sent to your above email.</p>

    <form class="form-section" [formGroup]="resetData" (submit)="submit()">
      <section class="inputs-section">
        <newsreel-text-input
        class="input-item"
        type="email"
        icon="mail_outline"
        label="Email"
        [control]="resetData.get('email')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
        </newsreel-text-input>
      </section>

      <p class="subtitle" *ngIf="isMobile">Reset link will be sent to your above email.</p>

      <section class="btn-section">
        <button
        class="neewsreel-submit-btn"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loading$ | async">
          Reset Password
        </button>
      </section>

      <section class="links-section" *ngIf="isDesktop">
        <span class="text">Back to</span>
        <a class="footer-link" routerLink="/sign-in">Login</a>
      </section>
    </form>
  </section>

  <section class="links-section" *ngIf="isMobile">
    <span class="text">Back to</span>
    <a class="footer-link" routerLink="/sign-in">Login</a>
  </section>

  <newsreel-spinner [showSpinner]="loading$ | async"></newsreel-spinner>

</section>
