@import 'src/app/styles/colors';

:host {
  min-height: 100%;
  display: block;

  .header {
    padding: 10px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $gray-mid-background;
    border-bottom: 1px solid $gray-deep-70;

    .back-btn {
      position: absolute;
      left: 5px;
      color: unset;
      text-decoration: none;

      .material-icons {
        font-size: 40px;
        color: $gray-deep;
      }
    }
  }

  .main-content {
    .navbar {
      max-width: 60%;
      margin: 0 auto;
    }

    .title {
      margin: 0;
      padding: 0.67em 0;
      text-align: center;
    }

    .wrapper {
      margin: 10px 5px;
      color: $gray-deep;

      p, li {
        line-height: 1.5;
        font-size: 13px;
      }

      table {
        font-size: 13px;
        border-collapse: collapse;

        thead {
          color: black;
          font-weight: bold;
        }

        td, th {
          border: 2px solid black;
        }
      }

      h5 {
        margin: 30px 0 0 0;
      }

      li {
        margin-top: 10px;
      }
    }

    &.desktop-version {
      min-height: calc(100vh - 49px);
      padding-top: 30px;
      background-color: $gray-light-background;

      .wrapper {
        max-width: 60%;
        margin: 10px auto;
        box-shadow: none;
        color: #4a4751;
        background-color: $gray-light-background;

        p, li, h5, table {
          line-height: normal;
          font-size: 16px;
        }
      }
    }
  }
}
