@import 'src/app/styles/colors';

:host {
  margin: 20px 0;
  display: block;
  position: relative;

  .main {
    min-height: 150px;
    max-height: 100%;
    overflow: auto;

    .card {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      background-color: #fff;
    }

    @media (max-width: 1440px) {
      padding: 0px 10px;
    }

    @media (max-width: 430px) {
      .card {
        padding: 20px 5px;
      }
    }

    @media (max-width: 360px) {
      padding: 5px;
    }

    .empty {
      margin: 20px;
      color: $gray-deep;
      font-weight: normal;
    }
  }
}
