<section class="sign-wrapper" [ngClass]="{ 'desktop-version': isDesktop }">
  <section class="main-section">
    <newsreel-logo-link class="logo"></newsreel-logo-link>

    <form class="form-section" [formGroup]="credentials" (submit)="submit()">
      <section class="inputs-section">

        <label class="phone-number-wrapper">
          <span class="label">
              Phone Number
          </span>

          <div class="phone-number-controller custom-phoneNumber__section">
            <input type="text"
                   ng2TelInput
                   [ng2TelInputOptions]="{initialCountry: 'us'}"
                   (ng2TelOutput)="getNumber($event)"
                   formControlName="intl_phone_number"
                   (countryChange)="onCountryChange($event)" />
          </div>

        </label>

        <newsreel-text-input
        class="input-item"
        type="password"
        icon="lock"
        label="Password"
        [control]="credentials.get('password')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
        </newsreel-text-input>

        <a class="link" *ngIf="isDesktop" routerLink="/reset-password" title="Reset password page">Forgot password?</a>
      </section>

      <section class="btn-section">
        <a class="link" *ngIf="isMobile" routerLink="/reset-password" title="Reset password page">Forgot password?</a>

        <button
        class="neewsreel-submit-btn"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loading$ | async">
          Log In
        </button>
      </section>

      <section class="links-section" *ngIf="isDesktop">
        <span class="text">Don't have an account?</span>
        <a class="footer-link" routerLink="/sign-up">Sign up</a>
      </section>
    </form>
  </section>

  <section class="links-section"  *ngIf="isMobile">
    <span class="text">Don't have an account?</span>
    <a class="footer-link" routerLink="/sign-up">Sign up</a>
  </section>

  <newsreel-spinner [showSpinner]="loading$ | async"></newsreel-spinner>
</section>
