<a class="wrapper" [routerLink]="['/post', tweet.slug]" [state]="{ post: tweet }" title="Go to the Post Page"
   *ngIf="tweet?.repost_type != 'article'">
    <!-- TODO: use pipe for text - 1000 -> 1k -->
    <newsreel-post-header-info [text]="tweet.comments + ' comments'"
                               [createdAt]="tweet.created_at"></newsreel-post-header-info>
    <article class="content">
      <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-align="center">
        <a [href]="tweet.url" *ngIf="!tweet?.repost_type || tweet?.repost_type != 'article'"></a>
      </blockquote>
    </article>
  </a>

<a class="wrapper" title="Go to the Post Page" (click)="redirectTo(tweet.url)"
   *ngIf="tweet?.repost_type && tweet?.repost_type == 'article'">
  <!-- TODO: use pipe for text - 1000 -> 1k -->
  <newsreel-post-header-info [text]="tweet.comments + ' comments'"
                             [createdAt]="tweet.created_at"></newsreel-post-header-info>
  <h1 class="title"
      *ngIf="tweet?.repost_type && tweet?.repost_type == 'article'">
    {{tweet?.title}}
  </h1>
  <article class="content">
    <img *ngIf="tweet?.repost_type && tweet?.repost_type == 'article'" (click)="redirectTo(tweet.url)"
         [src]="tweet?.image_url" style="border-radius: 15px; width: 100%; height: 300px"/>
    <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-align="center">
      <a [href]="tweet.url" *ngIf="!tweet?.repost_type || tweet?.repost_type != 'article'"></a>
    </blockquote>
  </article>
</a>

<newsreel-post-author-info
  [post]="tweet"
  [showBtnPanel]="showFooterBtnPanel"
  (vote)="upvote()"
  (report)="report()"
  (delete)="handleDelete()">
</newsreel-post-author-info>
