:host {
  display: block;
  color: #000;

  .wrapper {
    min-height: 100vh;
    padding-top: 65px;
    display: grid;
    grid-template-rows: 1fr;

    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 100;
    }

    .main-content {
      max-height: calc(100vh - 65px);
      background-color: #f7f7fc;
      overflow: auto;

      .blue-theme {
        background-color: #e3e4e8;
      }

      .image {
        background-color: #e3e4e8;
      }

      .navbar {
        max-height: 48px;
        border: none;
        background-color: #fff;
      }

      .inner-tab {
        //padding: 20px 15px;
      }
    }

    &.desktop-version {
      padding-top: 49px;

      .main-content {
        max-height: calc(100vh - 49px);
        padding-top: 30px;
        display: grid;
        grid-template-columns: 60%;
        justify-content: center;
        background-color: #f4f4f4;

        .navbar {
          border-radius: 30px;
        }

        .inner-tab {
          //padding: 20px 0px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .main-content {
    padding: 0 18px;
  }

  .title-create-post {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #E74C3C;
    margin: 28px 0 10px 0;
  }
}
