<nav class="links-section">
  <a class="link" routerLink="/terms-of-service" routerLinkActive="active">Terms of Use</a>
  <a class="link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
  <a class="link" routerLink="/report-harmful-content" routerLinkActive="active">Report Harmful or Plagiarized Content</a>
  <a class="link" routerLink="/advertising-opportunities" routerLinkActive="active">Advertising Opportunities</a>
  <a class="link" routerLink="/help" routerLinkActive="active">Help</a>
</nav>
