<section class="confirm-wrapper" [ngClass]="{ 'desktop-version': isDesktop }">
  <a routerLink="/sign-in" class="back-btn" *ngIf="isMobile">
    <span class="material-icons">keyboard_arrow_left</span>
  </a>

  <section class="main-section">
    <newsreel-logo-link class="logo" *ngIf="isDesktop"></newsreel-logo-link>

    <h1 class="title">Change Password</h1>

    <form class="form-section" [formGroup]="resetPassword" (submit)="submit()">
      <section class="inputs-section">
        <newsreel-text-input
        class="input-item"
        type="password"
        icon="lock"
        label="New Password"
        [control]="resetPassword.get('password')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
        </newsreel-text-input>
      </section>

      <section class="btn-section">
        <button
        class="neewsreel-submit-btn"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loading$ | async">
          Confirm Password
        </button>
      </section>

      <section class="links-section" *ngIf="isDesktop">
        <span class="text">Back to</span>
        <a class="footer-link" routerLink="/sign-in">Login</a>
      </section>
    </form>
  </section>

  <section class="links-section" *ngIf="isMobile">
    <span class="text">Back to</span>
    <a class="footer-link" routerLink="/sign-in">Login</a>
  </section>

  <newsreel-spinner [showSpinner]="loading$ | async"></newsreel-spinner>

</section>
