<section class="header">
  <div class="info-wrapper">
    <a [routerLink]="['/profile', userInfo.id]" alt="user profile">
      <img [src]="userInfo.avatar_thumbnail" class="avatar" loading="lazy" width="40px" height="40px" alt="Author info"/>
    </a>

    <section>
      <div class="author-info">
        <span class="name" [title]="userInfo.username">{{ userInfo.username }}</span>

        <span class="badge-wrapper" *ngIf="userInfo.is_top_rated">
          <img src="assets/svg/top-rated.svg" class="badge" height="15px" width="15px" alt="Top rated badge"/>
          <span class="badge-text">Top Rated</span>
        </span>
      </div>

      <div class="meta-info">
        <newsreel-star-rating
        class="rating"
        [rate]="userInfo.rating"
        [allowResponsive]="true"
        [showRateLast]="true">
        </newsreel-star-rating>

        <span class="time">{{ (review.created_at | timeAgo) | async }}</span>
      </div>
    </section>
  </div>

  <span class="rating" *ngIf="!isResponse">
    <span class="material-icons">star</span>
    <span>{{ review.rating }}</span>
  </span>
</section>

<p class="content">{{ review.text }}</p>

<section class="btn-section">
  <section class="main-buttons">
    <button
    class="action-btn"
    mat-stroked-button
    newsreelAuthCheck
    (allow)="handleVote()"
    [disabled]="review.is_agreed || review.is_disagreed">
      <span class="material-icons">done</span>
      <span class="label">Agree</span>
      <span>({{ review.agreed_num }})</span>
    </button>

    <button
    class="action-btn orange"
    mat-stroked-button
    newsreelAuthCheck
    (allow)="handleVote(false)"
    [disabled]="review.is_agreed || review.is_disagreed">
      <span class="material-icons">close</span>
      <span class="label">Disagree</span>
      <span>({{ review.disagreed_num }})</span>
    </button>

    <button *ngIf="allowReport" class="more-btn" mat-icon-button [matMenuTriggerFor]="menu">
      <span class="material-icons">more_horiz</span>
    </button>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button
        class="menu-item"
        mat-menu-item
        newsreelAuthCheck
        (allow)="handleReport()"
        [disabled]="review.reported">
          {{ review.reported ? 'Reported' : 'Report' }}
        </button>
      </ng-template>
    </mat-menu>
  </section>

  <span class="reply-btn" *ngIf="allowReply" (click)="toggleReply()">
    <ng-container *ngIf="!(showInput$ | async) else close">
      <span class="material-icons">reply</span> Reply
    </ng-container>

    <ng-template #close>
      <span class="material-icons">close</span> Close
    </ng-template>
  </span>
</section>

<section *ngIf="(showInput$ | async) && !review.reply" class="input-section">
  <input class="answer-input" [formControl]="answer" placeholder="Write a response">

  <button
  class="post-btn"
  mat-raised-button
  newsreelAuthCheck
  (allow)="submitAnswer()"
  [disabled]="answer.invalid">
    Post
  </button>
</section>
