@import 'src/app/styles/colors';

:host {
  min-height: 100%;
  padding: 10px;
  display: grid;
  position: relative;

  .back-btn {
    margin-top: 5px;
    justify-self: start;

    .material-icons {
      font-size: 35px;
      color: $gray-deep-70;
      cursor: pointer;
    }
  }

  .main-section {
    margin: 0 40px;
    align-self: center;

    .file-section {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      .error-msg {
        display: block;
        min-height: 15px;
        font-size: 12px;
        font-weight: 500;
        color: $pink-mid;
      }
    }

    .form-section {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;

      .inputs-section {
        display: grid;

        .input-item {
          display: grid;
          justify-items: start;
          grid-gap: 5px;
        }
      }

      .btn-section {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .neewsreel-submit-btn {
          width: 100%;
        }
      }
    }
  }
}
