<a class="back-btn">
  <span class="material-icons" (click)="emitBackEvent()">keyboard_arrow_left</span>
</a>

<section class="main-section">
  <section class="file-section">
    <newsreel-file-uploader [title]="'Add Photo'" icon="person"
                            (loaded)="handleImageLoad($event)"></newsreel-file-uploader>
    <span class="error-msg">{{ imageMsg$ | async }}</span>
  </section>

  <form class="form-section" [formGroup]="userData" (submit)="submit()">
    <section class="inputs-section">
      <newsreel-text-input
        class="input-item"
        icon="person"
        label="Public Name"
        [control]="userData.get('username')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
      </newsreel-text-input>

      <label class="phone-number-wrapper">
              <span class="label">
                  Phone Number
              </span>

        <div class="phone-number-controller custom-phoneNumber__section">
          <input type="text"
                 ng2TelInput
                 [ng2TelInputOptions]="{initialCountry: 'us'}"
                 (ng2TelOutput)="getNumber($event)"
                 formControlName="intl_phone_number"
                 (countryChange)="onCountryChange($event)" />

        </div>


      </label>

      <newsreel-text-input
        class="input-item"
        type="email"
        icon="mail_outline"
        label="Email"
        [control]="userData.get('email')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
      </newsreel-text-input>

      <newsreel-text-input
        class="input-item"
        type="password"
        icon="lock"
        label="Password"
        [control]="userData.get('password')"
        [customTrigger$]="errorCheck$"
        [customMessages]="errorMsgMap$ | async">
      </newsreel-text-input>
    </section>

    <section class="btn-section">
      <button
        class="neewsreel-submit-btn"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loading$ | async">
        Signup Now
      </button>
    </section>
  </form>
</section>

<newsreel-spinner [showSpinner]="loading$ | async"></newsreel-spinner>
